MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

DB_PORT=5432
DB_HOST=localhost
DB_USER=admin
DB_PASS=password
DB_NAME=attributor

MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET_NAME=corpora
MINIO_USE_SSL=false
